.col-title, .container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-title h1 {
  color: #005E9D;
  font-weight: bold;
  margin-top: 7rem;
  margin-bottom: 1.5rem;
}

.col-title .page-subtitle {
  color: #757781;
  margin-bottom: 2.5rem;
}

.container-portfolio .section-title {
  color: #173C88;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.more-info {
  color :#173C88;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0;
}

.desktop .more-info {
  margin-bottom: 1.5rem;
}

@media(max-width: 659px) {
  .col-title h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .col-title .page-subtitle {
    font-size: 1.2rem;
  }

  .container-portfolio .section-title {
    font-size: 1.4rem;
  }
}

@media(max-width: 391px) {
  .more-info {
    font-size: 0.8rem;
  }
}

@media(max-width: 260px) {
  .more-info {
    font-size: 0.6rem;
  }
}
