.img-dir .col-lg-4, .img-dir .col-md-4,
.img-consul .col-lg-4, .img-consul .col-md-4{
  width: 330px;
  height: 330px;
  margin-bottom: 40px;
}

.team h1{
  font-size: 40pt;
  text-transform: uppercase;
  color: #0070BB;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 80px;
}


.img-consul img:nth-child(-n + 9),
.img-dir img:nth-child(-n + 6) {
  margin-bottom: 0px;
}

.col-lg-4 .hvr-radial-out img,
.img-prof .hvr-radial-out img,
.col-md-4 .hvr-radial-out img{
  border: 16px solid #0070BB;
  border-radius: 50%;
}

.col-lg-4 .hvr-radial-out img:hover,
.img-prof .hvr-radial-out img:hover,
.col-md-4 .hvr-radial-out img:hover{
  border: 16px solid #008CEA;
  /* opacity: 0; */
  transition: opacity 0.1s 0.05s;
}

/* Hover para exibir informações dos integrantes da equipe (não finalizado) */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  position: relative;
  overflow: hidden;
  /* background: #e1e1e1; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50%;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0070BB;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #fff;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.hvr-radial-out span p{
  position:absolute;
  top:50%;
  left:50%;
  opacity: 0;
  width: 100%;
  transform:translate(-50%,-50%)
}

.hvr-radial-out span div{
  position:absolute;
  top:50%;
  left:50%;
  opacity: 0;
  transform:translate(-50%,-50%)
}

.hvr-radial-out span div{
  margin-right: 10px;
}

.hvr-radial-out:hover span p{
  opacity: 1;
  font-size: 16pt;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.hvr-radial-out:hover span div{
  opacity: 1;
  font-size: 16pt;
  margin-top: 80px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.icons {
  color: #fff;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.icons a {
  color: #fff;
  text-decoration: none;
}

.icons a:last-child {
  margin-left: 20px;
}

.icons a i {
  font-size: 50px;
  margin-left: 0px;
  transition: 0.1s;
}

.icons a i:hover {
  font-size: 55px;
}

.iconsP {
  color: #fff;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.iconsP a {
  color: #fff;
  text-decoration: none;
}

.iconsP a:last-child {
  margin-left: 0px;
}

.iconsP a i {
  font-size: 50px;
  margin-left: 0px;
  transition: 0.1s;
}

.iconsP a i:hover {
  font-size: 55px;
}

